@{
    ViewBag.Title = "Reset Password";
    Layout = "_AccountLayout";
}


            <div class="card z-index-0 mt-sm-12 mt-9 mb-4">
                <div class="card-header text-center pt-4 pb-1">
                    <div class="col-9 m-auto text-center">
                        <a asp-controller="Home" asp-action="Index"><img class=" img-fluid logo" src="/img/assets/logo.png" alt=""/></a>
                    </div>
                    
                    <h4 class="font-weight-bolder mb-1">Reset password</h4>
                </div>
                <div class="card-body">
                    <form role="form" asp-action="Reset" method="post">
                        <div class="mb-3">
                            <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email" required="required">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-dark btn-lg w-100 my-4 mb-2">Send</button>
                        </div>
                    </form>
                </div>
            </div>

